<div class="container">
  <br>
  <br>
  <% include ../partials/navbar %> 
  <div class="formborder">
    <!--h1 class="page-header"></h1-->
    <h1><strong><%= reminderItem.title %> </strong></h1>
    
    <ul class="list-group">
      <li class="list-group-item">
        <h4><%= reminderItem.description %></h4>
        <% if (typeof(reminderItem.dueDate) !== 'undefined') { %>
          <h4>Due: <%= reminderItem.dueDate %> </h4>
        <% } %>
        <h4><%= reminderItem.phone %></h4>
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="label label-success">True</span>
          <% } else if (reminderItem.completed === false) { %>
            <span class="label label-danger">False</span>
          <% } %>
        </h4>

        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>
    </ul>
  </div>
</div>
